# ignore all test functions
mfile/test_functions/

# ignore examples
example/AFAR_example.m
example/test_out
example/tracking_list.txt

.gitignore
zface/3rd_party/mexopencv/
mfile/*.txt
mfile/*.mat


